<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>842298899972-i509aa1vf8hb04ek8p70qgbm1k69875r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.842298899972-i509aa1vf8hb04ek8p70qgbm1k69875r</string>
	<key>API_KEY</key>
	<string>AIzaSyBQqbObs0Jpd1D048GVE6F2aNQmhVLIup4</string>
	<key>GCM_SENDER_ID</key>
	<string>842298899972</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.spotiidmcc.spotii</string>
	<key>PROJECT_ID</key>
	<string>spotii-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>spotii-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:842298899972:ios:06093cdf53238f9f0d7f51</string>
</dict>
</plist>